<form>
  <div class="mb-3" *ngIf="!isChecked">
    <label for="exampleFormControlTextarea1" class="form-label">Current Password</label>
    <input type="password"  class="form-control" #currentPassword/>
    <button mat-flat-button color="primary" style="margin-top: 20px;" (click)="check(currentPassword.value)">Check</button>
  </div>
  <div class="mb-3" *ngIf="isChecked">
    <label  class="form-label">New Password</label>
    <input type="password" class="form-control"  #newPassword/>
    <button mat-flat-button color="warn" style="margin-top: 20px;" (click)="change(newPassword.value)">Change</button>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="close()">Cancel</button>
  </div>
</form>

