<mat-grid-list cols="2">

  <mat-card>
      <mat-grid-tile>



      </mat-grid-tile>
      <mat-grid-tile>


          <table class="table table-bordered table-light">
              <thead>
                  <tr>
                      <th colspan="4" style="font-size: 250%;font-family:Verdana, Geneva, Tahoma, sans-serif;">List of Faculty</th>
                  </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                    <td colspan="4"><button mat-raised-button color="primary">Print</button></td>
                </tr>
              </tbody>
            </table>




      </mat-grid-tile>
  </mat-card>

</mat-grid-list>
